extends base.pug

block content
    div#videoContainer(data-id=video._id)
        if isHeroku
            video(src=video.fileUrl)
        else 
            video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", step="0.005", value="0", min="0")#timeline
            div.videoControls__volume
                input(type="range", step="0.005", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up 
            div.videoControls__full 
                span#fullScreen
                    i.fas.fa-expand
    div.video__info
        div.video__titleInfo
            h1.video__title #{video.title}
            small.video__createdAt=String(video.createdAt).substr(0, 15)
                hr.solid
        div.video__owner
            a(href=`/users/${video.owner._id}`)
                if isHeroku
                    img.avatar__small(src=video.owner.avatarUrl)
                    small.owner__name=video.owner.name
                else
                    img.avatar__small(src="/" + video.owner.avatarUrl)
                    small.owner__name=video.owner.name
        div.video__description
            small=video.description
    if loggedIn
        div.video__add-comments 
            form.video__comment-form#commentForm
                input.video__comment-input(type="text",placeholder="Comment & Press 'Enter'")
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                if String(comment.owner._id) === String(loggedInUser._id)
                    li.video__comment(data-id=comment.id)
                        i.fas.fa-comment
                        span #{comment.text}
                        span.deleteBtn  ❌
                else
                    li.video__comment(data-id=comment.id)
                        i.fas.fa-comment
                        span #{comment.text}
                        span 

    if String(video.owner._id) === String(loggedInUser._id)
        br
        a(href=`${video.id}/edit`) Edit |
        a(href=`${video.id}/delete`)  Delete
block scripts 
    script(src="/assets/js/videoPlayer.js") 
    if loggedIn 
        script(src="/assets/js/commentSection.js") 